# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore .env file
.env

# Editors
.idea
.vscode

# Archivos de construcción
build/
dist/

# Archivos de respaldo
*.bak
*.log
*.seed

# Archivos temporales
*.tmp
*.temp

# PDF
/src/resources/BookingConfirmation.pdf

# Test R2
src/test/r2/test-upload.txt
